
.alexa-sign{
    width: 500px;
}
.alexa-image{
   background-image:  url('/assets/images/alexa-symbol.png');
   background-size: cover;
}
.image_size{
    height: 200px;
    width: 150px;
}
.checked{
    color:orange;
}
